.base {
    font-weight: 500;
    letter-spacing: 0.8px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background .2s ease-in-out;
    font-weight: 600;

    &:disabled, &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

@mixin with-color($color, $bg-color: var(--color2)) {
    border: 1px solid $color;
    background: $bg-color;
    color: $color;

    &:hover {
        background: $color;
        color: $bg-color;
    }
}

.normal {
    @include with-color(var(--color1))
}

.danger {
    @include with-color(var(--color7))
}

.cta {
    border: 1px solid var(--border-color);
    background: var(--border-color);
    color: var(--color2);

    &:hover {
        background: var(--background-color);
        color: var(--color3);
    }
}

.panel {
    display: flex;
    gap: 12px;
}
