.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 24px;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-id {
    font-family: monospace;
    color: var(--color4);
    text-overflow: ellipsis;
    overflow: hidden;
}

.status {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    font-size: 16px;
}

.occupations {
    background: var(--background-color);
    max-width: 1580px;

    table {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        border-collapse: collapse;
        margin: 12px 0;
    }

    thead {
        font-weight: 600;

        th {
            background: var(--color4);
            color: var(--color2);
            text-align: left;
            line-height: 2em;
            padding: 2px 6px;

            &:last-child {
                text-align: right;
            }
        }
    }

    a {
        font-weight: 600;
    }

    td {
        line-height: 2em;
        padding: 2px 6px;

        &:last-child {
            text-align: right;
        }
    }

    tbody {
        tr:nth-child(even) td {
            background: var(--color2);
        }
    }
}

.modal-body {
    margin-bottom: 12px;
}

.radio-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px 0;
}

.radio {
    display: block;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid var(--color4);
    background: var(--background-color);
}
