.root {
    flex: 100% 1 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: auto;
    max-width: 100%;
    background: var(--color2);
}

.title {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 6px;
    font-size: 24px;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loading {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.back-btn {
    font-weight: 600;
    padding: 2px 6px;
    margin: 0 -6px;
    align-self: flex-start;
    border-radius: 3px;
    transition: background 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
        background: var(--background-color);
        text-decoration: none;
    }
}
