.cell {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    flex: 50% 1 1;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    background: var(--background-color);
    color: var(--color3);

    a {
        color: var(--color3);
    }
}

.label {
    color: var(--color4);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    gap: 12px;
    align-items: stretch;

    @media screen and (max-width: 900px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }
}

.data-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.row-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row-label {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
}
