.data-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.cell {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    flex: 50% 1 1;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    background: var(--background-color);
    color: var(--color3);

    a {
        color: var(--color3);
    }
}

.label {
    color: var(--color4);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    gap: 12px;
    align-items: stretch;

    @media screen and (max-width: 900px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }
}

.row-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row-label {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid var(--border-color);
}

@keyframes pulse {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -135% 0;
  }
}

@mixin loading-background {
  $from: var(--mutted-overlay);
  $to: var(--emphasis-dark-overlay);

  background: linear-gradient(-90deg, $from 0%, $to 50%, $from 100%);
  background-size: 400% 100%;
  animation: pulse 1.2s ease-in-out infinite;
}

.loading {
    @include loading-background;
    height: 24px;
}

.error {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--error-bgcolor);
    color: var(--error-color);
    font-size: 18px;
    font-weight: 600;
}
