.email {
    color: var(--color4);
}

.tel {
    color: var(--color4);
}

.uuid {
    position: relative;
    font-size: 12px;
    color: var(--color4);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;

    &:hover > span {
        display: block;
    }
}

.uuid-full {
    position: absolute;
    display: none;
    top: -7px;
    left: -12px;
    backdrop-filter: blur(6px);
    background-color: rgba(var(--rgb_color2), .5);
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px rgba(var(--rgb_color1), .2);
    text-decoration: underline;
}
