.email {
    color: var(--color4);
}

.tel {
    color: var(--color4);
}

.uuid {
    position: relative;
    font-size: 12px;
    color: var(--color4);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;

    &:hover > span {
        display: block;
    }
}

.uuid-full {
    position: absolute;
    display: none;
    top: -8px;
    left: -13px;
    background-color: var(--color2);
    white-space: nowrap;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: underline;
    border: 1px solid var(--border-color);
}
