.root {
    position: fixed;
    background: rgba(var(--rgb_color1), 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto 275px;
    backdrop-filter: blur(4px);
}

.side-pane {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid rgba(var(--rgb_color1), 0.2);
    height: 64px;
    background: var(--color2);
}

.nav-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--color1);
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: background .2s ease-in-out;

    &:hover {
        background: rgba(var(--rgb_color1), 0.2);
    }
}

.nav-list {
    & > li {
        display: flex;
        align-items: center;
        padding: 6px 12px;
    }

    a {
        color: var(--color1);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

li.nav-divider {
    padding: 0;
    margin: 0;
    line-height: 0;
    border-bottom: 1px solid rgba(var(--rgb_color1), 0.2);
}

.centered-li {
    justify-content: center;
}

.profile-detail {
    background: linear-gradient(233deg, rgba(56, 152, 190, .5) 0%, rgba(24, 101, 157, .5) 100%);
    backdrop-filter: blur(4px);
    color: var(--color2);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.profile-title {
    font-size: 16px;
}

.profile-table {
    width: 100%;
    font-size: 12px;

    td {
        vertical-align: top;
        &:first-child {
            font-weight: 600;
        }
    }
}

.shorten {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width: 180px;
    text-overflow: ellipsis;
}

.loading {
    display: flex;
    justify-content: center;
}

.roles {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.role {
    padding: 2px 4px;
    border: 1px solid rgba(var(--rgb_color2), .4);
    border-radius: 1px;
    white-space: nowrap;
}

.bottom {
    background: var(--color2);
}

.footer {
    flex-grow: 1;
}
