.root {
    flex: 200px 0 0;
}

.loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 64px;
    padding: 12px 6px 12px 0;
}

.nav-item {
    padding: 0 6px;
    cursor: pointer;

    a {
        display: flex;
        gap: 12px;
        padding: 12px 12px;
        color: var(--color2);
        font-weight: 600;
        letter-spacing: 0.2px;
        font-size: 16px;
        align-items: center;
        border-radius: 6px;
        transition: background .2s ease-in-out;

        &:hover {
            background: rgba(var(--rgb_color2), .1);
        }
    }
}

.nav-item-open {
    a {
        background: rgba(var(--rgb_color2), .1);
    }
}

.separator {
    border-bottom: 1px solid rgba(var(--rgb_color2), .2);
    margin: 6px 0;
}

.nav-icon {
    display: block;
    width: 32px;
}
