.root {
    border: 1px solid var(--border-color);
    background: var(--color2);
}

.scroll-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.thead {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    font-size: 15px;
    min-width: fit-content;
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
}

.tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    min-width: 100%;
    border-bottom: 1px solid var(--border-color);
    min-width: fit-content;
    align-items: center;

    &:hover {
        background: rgba(var(--rgb_color4), .1);
    }

    &:last-child {
        border-bottom: 0;
    }
}

.td {
    padding: 12px 24px;
}

.head-cell {
    padding: 12px 24px;
    font-weight: 700;
    letter-spacing: .2px;
    overflow: hidden;
}

.loading-container {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color7);
    padding: 24px 0;
    font-size: 16px;
    font-weight: 600;
}

.empty-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    flex-direction: column;
}
