$border-color: #17a6b8;

.root {
    border: 1px solid $border-color;
    background: var(--color2);
}

.scroll-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.thead {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    font-size: 15px;
    min-width: fit-content;
    background: #d7eff2;
}

.tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    min-width: 100%;
    border-top: 1px solid $border-color;
    min-width: fit-content;
    align-items: center;

    &:hover {
        background: rgba(var(--rgb_color4), .1);
    }
}

.td {
    padding: 12px 24px;
}

.head-cell {
    padding: 12px 24px;
    font-weight: 700;
    letter-spacing: .2px;
    overflow: hidden;
}
