$divider: 1px solid var(--separator-light-low-emphasis);

.root {
    color: var(--color2);
    display: grid;
    flex: 64px 0 0;
    height: 64px;
    grid-template-columns: 64px auto 64px;
    column-gap: 12px;

}

.with-nav {
    grid-template-columns: auto 64px;
}

@mixin btn {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    transition: background .2s ease-in-out;

    &:hover {
        background: var(--emphasis-light-overlay);
    }
}

.nav-btn {
    $size: 64px;
    @include btn;
    border-right: $divider;
    width: $size;
    height: $size;
}

.nav-btn-inner {
    $size: 32px;
    width: $size;
    height: $size;
    border-radius: 100%;
    transition: background .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn-close {
    position: absolute;
    left: 0;
    border-right: 0;

    &:hover {
        background: transparent;

        .nav-btn-inner {
            background: var(--emphasis-light-overlay);
        }
    }
}

.app-title {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    @media screen and (max-width: 620px) {
        & {
            font-size: 16px;
        }
    }
}

.profile-btn {
    @include btn;
    border-left: $divider;
}

.logo {
    width: 48px;
}
