@use 'sass:math';

.count {
    $size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    background: #d7eff2;
    border: 1px solid #30849b;
    color: #0d3945;
    padding: 0 4px;
    height: $size;
    min-width: $size;
    border-radius: math.div($size, 2);
}

.app-status {
    background: #d7eff2;
    border: 1px solid #30849b;
    padding: 0 6px;
    border-radius: 12px;
    font-weight: 400;
    color: #0d3945;
    font-size: 13px;
}
