$border-color: rgba(var(--rgb_color1), 0.2);
$bg-color: rgba(var(--rgb_color1), 0.1);

.root {
    position: relative;
    border: 1px solid $border-color;
    overflow: hidden;
}

.row-table-title {
    background: $bg-color;
    border-bottom: 1px solid $border-color;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    padding: 6px 12px;
}

.row-table-table {
    width: 100%;
    border-collapse: collapse;

    tr:first-child td {
        border-top: none;
    }

    td {
        padding: 12px;
        border-top: 4px solid $bg-color;

        &:first-child {
            font-weight: 600;
        }

        &:last-child {
            text-align: right;
        }
    }
}

@mixin overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.row-table-loading {
    @include overlay;
    background: rgba(var(--rgb_color2), 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-table-error {
    @include overlay;
    background: var(--color7);
    padding: 12px;
}
