.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(var(--rgb_color1), 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(4px);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    width: 600px;
    max-width: 100%;
    box-shadow: 1px 4px 64px 6px rgba(0,0,0,.2);
    max-height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--border-color);
    color: var(--color2);
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.body {
    padding: 12px;
    background: var(--color2);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: auto;
    flex: 100% 1 1;
}

.close-btn {
    background: transparent;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .2s ease-in-out;

    &:hover {
        background: rgba(var(--rgb_color1), .1);
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
