@mixin vertical-container($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

.form {
    @include vertical-container(24px);
}

.field {
    @include vertical-container(12px);
}

.label {
    @include vertical-container(6p);
}

.horizontal-label {
    display: flex;
    gap: 6px;
    align-items: center;
}

.member-number {
    @include vertical-container(6px)
}

.custom-member-number {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    font-weight: 600;
    padding: 12px;
}
