@mixin message($color) {
    $c: var(--#{$color});
    border: 1px solid $c;
    color: $c;
    padding: 6px 12px;
    background: rgba(var(--rgb_#{$color}), 0.1);
    border-radius: 4px;
}

.error {
    color: var(--color0);
    padding: 12px 12px;
    border: 2px solid var(--error-color);
    background: var(--error-bgcolor);
    border-radius: 4px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.info {
    @include message(color4);
}

.button-panel {
    display: flex;
    gap: 12px;
}

.title {
    margin-bottom: 6px;
}
