@mixin message($color, $bg-color) {

    color: var(--color0);
    border: 2px solid $color;
    padding: 12px;
    background: $bg-color;
    border-radius: 4px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 6px;

    ol {
        padding: 6px 0 6px 36px;
        list-style-type: decimal;

        ol {
            list-style-type: lower-alpha;
        }
    }

    li {
        padding: 2px 0;
    }

    code {
        background: var(--background-color);
        padding: 0 2px;
        letter-spacing: 0.05em;
    }
}

.error {
    @include message(var(--error-color), var(--error-bgcolor));
}

.warning {
    @include message(var(--warning-color), var(--warning-bgcolor));
}

.info {
    @include message(var(--info-color), var(--info-bgcolor));
}

.button-panel {
    display: flex;
    gap: 12px;
}

.title {
    margin-bottom: 6px;
}
