.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.back-btn {
    font-weight: 700;
    align-self: flex-start;

    &:hover {
        background: rgba(var(--rgb_color4), .2);
    }
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 24px;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-id {
    font-family: monospace;
    color: var(--color4);
    text-overflow: ellipsis;
    overflow: hidden;
}

.status {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    font-size: 16px;
}

.cell {
    background: rgba(var(--rgb_color1), .05);
    border: 1px solid rgba(var(--rgb_color1), 0.3);
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    flex: 50% 1 1;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    text-overflow: elipsis;
}

.label {
    color: rgba(var(--rgb_color1), .5);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: var(--grid-template-columns);
    gap: 12px;
    align-items: stretch;

    @media screen and (max-width: 900px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }
}

.data-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.row-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row-label {
    font-size: 16px;
    color: var(--color3);
    font-weight: 700;
    border-bottom: 2px solid rgba(var(--rgb_color1), .2);
}

.metadata {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;

    @media screen and (max-width: 900px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.signature {
    background: white;
    border: 1px solid rgb(var(--rgb_color1), 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.files-table {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-collapse: collapse;
    margin: 12px 0;

    thead {
        font-weight: 600;

        td {
            background: rgba(var(--rgb_color4), .2);
        }
    }

    a {
        font-weight: 600;
    }

    td {
        line-height: 2em;
        padding: 2px 6px;
    }

    tbody {
        tr:nth-child(even) td {
            background: rgba(var(--rgb_color4), .1);
        }
    }

    td:last-child {
        text-align: right;
    }
}

.member-number-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background: rgba(var(--rgb_color4), .1);
    border: 1px solid var(--color4);
}

.member-number-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 600;
}

.member-number-auto {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
