.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 24px;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-id {
    font-family: monospace;
    color: var(--color4);
    text-overflow: ellipsis;
    overflow: hidden;
}

.status {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    font-size: 16px;
}

.metadata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1574px;
    gap: 12px;

    @media screen and (max-width: 900px) {
        & {
            display: flex;
            flex-direction: column;
        }
    }
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.signature {
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid var(--color4);
}
