.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    display: flex;
    font-weight: 800;
    font-size: 48px;
    flex-direction: column;
    color: var(--color1);
    gap: 24px;
}

.status-code {
    font-family: 'Abril Fatface', cursive;
    line-height: 0.7em;
    font-size: 128px;
    color: var(--color7);
}

.desc {
    font-size: 16px;
    font-style: italic;
}

.code {
    display: block;
    background: var(--emphasis-dark-overlay);
    padding: 0 2px;
    font-family: monospace;
    font-style: normal;
    border-radius: 2px;
    padding: 6px 12px;
    line-height: 1.2em;
}
