.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;

    @media screen and (max-width: 1220px) {
        & {
            grid-template-columns: 1fr;
        }
    }
}

.row-table-wrapper {
    position: relative;
    border-radius: 4px;
    border: 4px solid rgba(#211D22, .4);
    border-radius: 5px;
    overflow: hidden;
}

.row-table-title {
   background:rgba(#211D22, .4);
   font-size: 16px;
   line-height: 1.5em;
   font-weight: 600;
   padding: 0 12px 4px;
   color: white;
}

.row-table-table {
    width: 100%;
    border-collapse: collapse;

    tr:first-child td {
        border-top: none;
    }

    td {
        padding: 12px;
        border-top: 1px solid rgba(#211D22, .4);

        &:first-child {
            font-weight: 600;
        }

        &:last-child {
            text-align: right;
        }
    }
}

@mixin overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.row-table-loading {
    @include overlay;
    background: rgba(white, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-table-error {
    @include overlay;
    background: #EF562E;
    padding: 12px;
}
